 <div class="modal-overlay">
    <div class="modal">
        <span class="close" id="closeModal">&times;</span>

    
      <div id="selectedTitlesDisplayContainer">
        <p>Saved dataset:</p>
        <ul id="selectedTitlesDisplay"></ul>
      </div>

    
    </div>
